@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}
body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic",
    sans-serif;
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* レイアウト */
.wrapper {
  max-width: 1120px;
  margin: auto;
  padding: 0 1.5rem;
}
.align-center {
  text-align: center;
}
/* 見出し */
.font-english {
  font-family: "Philosopher", sans-serif;
  font-weight: normal;
}
.page-title,
.heading-large {
  font-size: 3rem;
  text-align: center;
}
.page-title {
  margin-top: 2rem;
  line-height: 1.4;
}
.heading-large {
  margin-bottom: 1rem;
}
/* ボタン */
.btn {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #0bd;
  color: #fff;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  transition: 0.5s;
}
.btn:hover {
  background-color: #ad974e;
  scale: 1.2;
  rotate: 5deg;
  translate: 10px -20px;
}
/* ヘッダー
------------------------------- */
.page-header {
  padding-top: 0.5rem;
}
.logo {
  width: 210px;
}
.main-nav {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  list-style: none;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: rgb(69, 15, 216);
}
/* ヘッダーカバー画像
------------------------------- */
.cover {
  background-size: cover;
  background-position: center;
  height: 800px;
}
.sub-cover {
  background-size: cover;
  background-position: center bottom;
  height: 528px;
  margin-bottom: 4rem;
}
/* HOME
------------------------------- */
.cover-home {
  background-image: url(../images/cover-home-s.webp);
}
.about {
  max-width: 736px;
  padding: 0 1.5rem;
  margin: 3rem auto 0;
}
.about p {
  margin-bottom: 3rem;
}
/* NEWS
------------------------------- */
.cover-news {
  background-image: url(../images/cover-news-s.webp);
}
/* 記事部分 */
.post {
  margin-bottom: 3rem;
}
.post-title {
  font-weight: normal;
  margin-bottom: 1.25rem;
}
.post-date {
  font-size: 0.875rem;
}

/* フッター
------------------------------- */
.page-footer {
  background-image: url(../images/footer-s.webp);
  background-size: cover;
  background-position: center;
  padding-top: 12rem;
}
.info {
  width: 100%;
  max-width: 544px;
  margin: auto;
  padding: 0 1.5rem;
  border-spacing: 0;
}
.info th,
.info td {
  border-bottom: 1px solid #c9c2bc;
}
.info th {
  text-align: left;
  font-weight: normal;
  padding: 1rem;
}
.info td {
  padding: 1rem 0;
}
.copyright {
  background-color: #432;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
  margin-top: 6rem;
}
/* デスクトップ版
------------------------------- */
@media (min-width: 800px) {
  /* 見出し */
  .page-title {
    font-size: 5rem;
  }
  .heading-large {
    font-size: 4rem;
  }
  /* ヘッダー */
  .page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
  .main-nav {
    font-size: 2rem;
  }
  /* HOME */
  .cover-home {
    background-image: url(../images/cover-home-l.webp);
  }
  .about {
    margin: 4rem auto 0;
  }
  /* フッター */
  .page-footer {
    background-image: url(../images/footer-l.webp);
    padding: 12rem;
  }
  .info th {
    padding-left: 2.5rem;
  }
}
